@using Bolao.Pinheiros.Models
@model Root
@{
    const double CORNER_MED = 4;
    const double CORNER_MAX = 3;
    const double PERCENT_MED = 60;
    const double PERCENT_MAX = 40;
    var percentBothTeamScored = Model.GetPercentBothScored();
    var percentBothTeamDidntScore = Model.GetPercentBothDidntScore();
    var averageGoalsFirst = Model.GetAverageGoalsFirstHalf();
    var averageGoalsSecond = Model.GetAverageGoalsSecondHalf();
    var cornersAverage = Model.GetCornersAverage();
    var winners = Model.GetPossibleWinners();
    var homeWinning = winners[Model.mainGame.homeCompetitor.id];
    var awayWinning = winners[Model.mainGame.awayCompetitor.id];
}
<div class="bets-info">
    <div class="detalhar-apostas">Apostas</div>
    <div class="goals-bets">
        <div class="negrito">Moderado</div>
        <br>
        @{
            var overGoals = Math.Round(Model.GetAverageGoals()) - 1.5;
        }
        @if (overGoals > 0)
        {
            <div class="goals-bet">
                <label class="negrito">Acima de</label>
                <label class="team-value">@(overGoals) gols</label>
            </div>
        }
        @if (percentBothTeamScored >= PERCENT_MED
                || percentBothTeamDidntScore >= PERCENT_MED)
        {
            <div class="goals-bet">
                <label class="negrito">Ambos marcam</label>
                <label class="team-value">
                    @(percentBothTeamScored > percentBothTeamDidntScore ? "Sim" : "Não")
                </label>
            </div>
        }
        <div class="goals-bet">
            <label class="negrito">Abaixo de</label>
            <label class="team-value">@(Math.Round(Model.GetAverageGoals()) + 1.5) gols</label>
        </div>
        @if (cornersAverage - CORNER_MED > 0)
        {
            <div class="goals-bet">
                <label class="negrito">Cantos igual ou acima de</label>
                <label class="team-value">@(cornersAverage - CORNER_MED)</label>
            </div>
        }
        <div class="goals-bet">
            <label class="negrito">Gols no 1º tempo</label>
            <label class="team-value">@(averageGoalsFirst) gol(s)</label>
        </div>
    </div>
    <div class="goals-bets">
        <div class="negrito">Arriscado</div>
        <br>
        <div class="goals-bet">
            <label class="negrito">Possível vencedor</label>
            <label class="team-value">
                @if (homeWinning)
                {
                    <text>@(Model.mainGame.homeCompetitor.name)</text>
                }
                else if (awayWinning)
                {
                    <text>@(Model.mainGame.awayCompetitor.name)</text>
                }
                @if (winners[0])
                {
                    if (homeWinning || awayWinning)
                    {
                        <text>ou Empate</text>
                    }
                    else
                    {
                        <text>Empate</text>
                    }
                }
            </label>
        </div>
        <div class="goals-bet">
            <label class="negrito">Acima de</label>
            <label class="team-value">@(Math.Round(Model.GetAverageGoals()) - 0.5) gols</label>
        </div>
        @if (percentBothTeamScored >= PERCENT_MAX
                || percentBothTeamDidntScore >= PERCENT_MAX)
        {
            <div class="goals-bet">
                <label class="negrito">Ambos marcam</label>
                <label class="team-value">
                    @(percentBothTeamScored > percentBothTeamDidntScore ? "Não" : "Sim")
                </label>
            </div>
        }
        <div class="goals-bet">
            <label class="negrito">Abaixo de</label>
            <label class="team-value">@(Math.Round(Model.GetAverageGoals()) + .5) gols</label>
        </div>
        @if (cornersAverage - CORNER_MAX > 0)
        {
            <div class="goals-bet">
                <label class="negrito">Cantos igual ou acima de</label>
                <label class="team-value">@(cornersAverage - CORNER_MAX)</label>
            </div>
        }
        <div class="goals-bet">
            <label class="negrito">Gols no 2º tempo</label>
            <label class="team-value">@(averageGoalsSecond) gol(s)</label>
        </div>
    </div>
</div>