@model Bolao.Pinheiros.Models.Game
@if (Model != null)
{
    <div class="previous-meetings-widget-row-component game-container">
        <div class="previous-meetings-widget-row-component subtitle">@(Model.competitionDisplayName)</div>
        <div class="previous-meetings-widget-row-component game-data">
            <div class="previous-meetings-widget-row-component">
                <div class=" text-component">@(Model.homeCompetitor.name)</div>
            </div>
            <div class="previous-meetings-widget-row-component">@(Model.homeCompetitor.score) - @(Model.awayCompetitor.score)</div>
            <div class="previous-meetings-widget-row-component">
                <div class=" text-component">@(Model.awayCompetitor.name)</div>
            </div>
        </div>
        <div class="previous-meetings-widget-row-component subtitle">@(Model.startTime.ToShortDateString())</div>
    </div>
}